
#landingBody {
  position: absolute; top: 0; left: 0
  overflow-x: hidden;
  background-image: url("background.jpg");
  background-repeat: none;
  /*position:fixed;*/
    width:100%;
    height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
}
#landingBodyPane {
  display: block;
  position: relative;
  top: 120px;
  height: 200px;
  width: 600px;
  margin: auto;
  border-radius: 10px;
}
#landingBodyPane .form-control{
  height: 60px;
  width: 525px;
  font-size:30px;
  font-weight: 100;
  background-color: #d4d4d4
  border-radius: 7px;
}
#landingLogo{
  width: 120px;
  height: auto;
  padding: 15px;
}
#navLogo{
  margin-top: -10px;
  width: 80px;
  height: auto;
}
#landingBody h1 {
  opacity: 1;
  color: white;
  font-weight: 100;
  font-size: 50px;
  margin: 10px;
  margin-bottom: 20px;
}


body {
  padding-top: 90px;
  font-family: 'Helvetica Neue';
  background-color: #f9f9f9;

}

#loginInputs {
  text-align: center;
}

h1, h2, h3, h4  {
  font-family: 'Helvetica Neue';
}
.navbar-brand{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
#login{
  width: 500px;
  padding: 20px;
}

#emailError {
  text-align:center;
  margin: auto;
}

.form-group {
  border: 1px solid #f9f9f9;
  margin: 10px;
  border-radius: 5px;
}
.form-control {
  border: 1px solid #f9f9f9;
  margin: 10px;
}
.btn {
  border: 1px solid #f9f9f9;
  margin-left: 10px;
}
#CreateAndSearchTripsLeft{
  width: 50%;
  padding-left: 0px;
  border: 0px;
  margin: 0px;
}
#CreateAndSearchTripsRight{
  width: 50%;
  padding-right: 0px;
  border: 0px;
  margin: 0px;
}


#tripEntry {
  font-style: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #dceaea;

}

.spinner {
  position: fixed;
  height: 160px;
  width: 160px;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#tripTag {
  font-size:16px;
  font-weight: bold;
}

.other {
  border: 1px solid;
}

p {
  margin: 0 0 4px;
}

.reserveAndPay{
  text-align: center;
  margin: auto;
}

#rsvpButton {
  text-align: center;
  /*float: right;*/
  border-radius: 4px;
  border: 1px solid #f9f9f9;*/
}
.Welcome{
  color: white;
  padding-top: 13px;
  font-size: 18px;
  padding-right: 10px;
}
#signup {
  margin-top: 5px;
  margin-left: -10px;
}
#profile{
  margin-left: -10px;
}
#navItem{
  margin-top: 10px;
}
#emailAndPassword{
  height: 35px;
}

/*Geo Suggest*/
input.geosuggest__input {
  border: none;
  width: 100%;
}

input.geosuggest__input:focus {
  outline: none;
}

#gs input.geosuggest__input {
  font-size: 15px;
}


div.geosuggest__suggests-wrapper {
  background-color: white;
  cursor: pointer;
}


.geosuggest {
  font-size: 18px;
  font-size: 1rem;
}

.geosuggest__suggests {
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}

/**
 * A geosuggest item
 */

 #gs .geosuggest-item {
  font-size: 15px;
  font-size: 2rem;
  padding: .5em .65em;
  cursor: pointer;
}

.geosuggest-item {
  font-size: 2rem;
  padding: .5em .65em;
  cursor: pointer;
}

.geosuggest-item:hover,
.geosuggest-item:focus {
  background: #f5f5f5;
}
.geosuggest-item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: #ccc;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;

}

.fifteenPX {
  font-size: 15px;
}

.map {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.review{
  text-align: center;
  margin: 2px auto;
  border: 1px solid black;
  padding: 3px;
}

.reviewContainer{
  text-align: center;
}
